# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# latex
*.aux
*.out
*.gz
*.log

# data files
*.mp4
*.gif
*.dat
*.png

# Compiled python
*.pyc

# emacs bullshit
\#*\#
.\#*